html {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    transform: scale(1.1);
}

.background img {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block; /* Instead of display: block; */
    margin: 0 auto;
    vertical-align: middle;
}

.v-align {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.full-width {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.shade {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

a .panel:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-default img {
    width: 100%;
    height: auto;
}